{% extends 'core/base.html' %}

{% block content %}
<div class="container">
  <h1>Vocabulearn</h1>
  <div id="menu" class="row">
    <div class="col-xl-12">
      <div class="btn-group float-right" role="group" >
        <a href="/logout" class="btn btn-outline-danger"><span class="material-icons icon-small">person</span>Logout</a>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xl-3">
      <div class="sticky">
        <h4>Sets</h4>
        <ul id="set-list" class="list-group small">
          <li class="list-group-item border-0"><span class="material-icons icon-small">expand_more</span>Lecture 1</li>
          <li class="list-group-item border-0"><span class="set-list-indent"></span>Verbs</li>
          <li class="list-group-item border-0"><span class="set-list-indent"></span>Adjectives</li>
          <li class="list-group-item border-0"><span class="material-icons icon-small">chevron_right</span>Lecture 2</li><li class="list-group-item border-0"><span class="material-icons icon-small">chevron_right</span>Test how long this can get until the internet explodes</li>
        </ul>
      </div>
      
    </div>
    <div class="flashcard-list col-xl-5">
      <h4>Cards (<span id="card-count"></span>)</h4>
      <ul class="list-group">
      {% for f in flash_cards %}
        {% include "core/list_item.html"%}
      {% endfor %}
      </ul>
    </div>
    <div id="flashcard-detail" class="col-xl-4">
      <div class="sticky">
        <h4>Front / Back</h4>
        <textarea class="form-control" id="detail-front"> </textarea>
        <textarea class="form-control" id="detail-back"> </textarea>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}