{% extends 'core/base.html' %}

{% block content %}
<div class="container">
  <h1>Vocabulearn</h1>
  <div class="row">
    <div class="col-xl-12">
      <div class="btn-group float-right" role="group" aria-label="Basic example">
        <a href="/logout" class="btn btn-outline-danger"><span class="material-icons icon-small">person</span>Logout</a>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="flashcard-list col-xl-5">
      <h4>Cards (<span id="card-count"></span>)</h4>
      <ul class="list-group">
      {% for f in flash_cards %}
        {% include "core/list_item.html"%}
      {% endfor %}
      </ul>
    </div>
    <div id="flashcard-detail" class="col-xl-7">
      <div class="row">
        <div class="col-xl-6">
          <h4>Front</h4>
          <textarea class="form-control" id="detail-front"> </textarea>
        </div>
        <div class="col-xl-6">
          <h4>Back</h4>
          <textarea class="form-control" id="detail-back"> </textarea>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}