{% extends 'core/base.html' %}

{% block content %}
<div class="container">
  <h1>Vocabulearn</h1>
  <div id="menu" class="row">
    <div class="col-xl-12">
      <div class="btn-group float-right" role="group" >
        <a href="/logout" class="btn btn-outline-danger"><span class="material-icons icon-small">person</span>Logout</a>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xl-3">
      <div class="sticky">
        <h4>Sets</h4>
        <ul id="set-list" class="list-group small">
          {% for folder, sets in directory.items %}
            {% include "core/card-set-item-folder.html"%}
            {% for set in sets %}
              {% include "core/card-set-item-set.html"%}
            {% endfor %}
              {% include "core/card-set-item-add-set.html"%}
          {% endfor %}
          {% include "core/card-set-item-add-folder.html"%}
        </ul>
      </div>
    </div>
    <div class="col-xl-4">
      <h4>Cards (<span id="card-count"></span>)</h4>
      <div id="flashcard-list" class="small">
        {% for f in flash_cards %}
            {% include "core/card_list_item.html"%}
        {% endfor %}
      </div>
    </div>
    <div id="flashcard-detail" class="col-xl-5">
      <div class="sticky">
        <h4>Front / Back</h4>
        <textarea class="form-control" id="detail-front"> </textarea>
        <textarea class="form-control" id="detail-back"> </textarea>
      </div>
      
    </div>
  </div>
</div>
<span id="set-id" class="hidden">{{set_id}}</span>

<div id="modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons icon-small">close</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="field">Name</label>
            <input type="text" class="form-control" id="field">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id='submit-button'></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}