<li class="list-group-item" id="card-{{f.id}}">
  <div class="row">
    <span class="col-xl-1 list-number"></span>
    <div class="col-xl-10">
      <div class="row">
        <span class="front_short col-xl-6">{{f.front}}</span>
        <span class="back_short col-xl-6">{{f.back}}</span>
      </div>
    </div>
    <button type="button" class="col-xl-1 btn btn-small btn-light delete-card-button"><span class="material-icons icon-small">delete_forever</span></button>
  </div>
  <span class="front hidden">{{f.front}}</span>
  <span class="back hidden">{{f.back}}</span>
  <span class="id hidden">{{f.id}}</span>
</li>