<div id="{{modal_id}}" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{modal_title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons icon-small">close</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="field">{{modal_field_name}}</label>
            <input type="text" class="form-control" id="field">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id='submit-button'>{{modal_button_text}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>