#menu {
  top: 0px;
  position: sticky;
  background-color: white;
  padding: 10px;
  z-index: 1;
}

#set-list > li {
  padding: 3px 0px;
}

#set-list .row {
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 22px;
  cursor: pointer;
  user-select: none;
}

.folder .row,
.folder-add .row {
  margin: 0 0 -1px 0;
  padding-left: 10px;
  padding-right: 10px;
}

#set-list .icon {
  flex-basis: 10%;
}

#set-list .label {
  flex-basis: 90%;
}

#set-list a {
  text-decoration: inherit;
  color: inherit;
}

.card-set-add .row,
.folder-add .row {
  cursor: pointer;
}


/* .folder div {
  padding-left: 0px;
  padding-right: 0px;
} */

.card-set .row,
.card-set-add .row {
  margin: 0 0 -1px 30px;
  padding-left: 10px;
  padding-right: 10px;
}

span.empty::before {
  display: inline-block;
  content: "\200b";
}


.hidden {
  display: none !important;
}

#flashcard-list .list-group-item{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

#flashcard-list .row {
  margin: 0 0 -1px 0;
  height: 30px;
}

#flashcard-list .row:first-child {
  border-top-left-radius: .25rem!important;
  border-top-right-radius: .25rem!important;
}
#flashcard-list .row:last-child {
  border-bottom-left-radius: .25rem!important;
  border-bottom-right-radius: .25rem!important;
}

#flashcard-list .row > * {
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-number {
  flex-basis: 12%;
  padding-left: 10px;
  padding-right: 5px;
}

.front_short,
.back_short {
  flex-basis: 38%;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.delete-card-button {
  flex-basis: 12%;
  cursor: pointer;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.sticky {
  top: 65px;
  position: sticky;
}

textarea {
  resize: none;
  display: block;
  width: 100%;
  height: 220px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

button.btn-small {
  padding: 0px;
}

.material-icons {
  vertical-align: text-top;
}
.icon-small {
  font-size: 18px;
}
.icon-smaller {
  font-size: 15px;
}
#login-form {
  padding: 20px;
  width: 500px;
}