@import "~bootstrap/scss/bootstrap";

////////////////////////////////////////////////////////////////////////////////
// GENERAL LEVEL
////////////////////////////////////////////////////////////////////////////////

html {
  // permanent scrollbar so no layout jumps
  overflow-y: scroll;
}

a {
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.material-icons {
  vertical-align: text-top;
}

.icon-small {
  font-size: 18px;
}
.icon-smaller {
  font-size: 15px;
}

.modal-open {
  padding-right: 0 !important;
}


////////////////////////////////////////////////////////////////////////////////
// MENU
////////////////////////////////////////////////////////////////////////////////

#menu {
  top: 0px;
  position: sticky;
  background-color: white;
  padding: 10px;
  z-index: 10;
}


////////////////////////////////////////////////////////////////////////////////
// BOX
////////////////////////////////////////////////////////////////////////////////

#folder-list  {
  padding-bottom: 100px;
}

.box-list-item {
  @extend .list-group-item;
  @extend .border-0;
  
  cursor: pointer;
  user-select: none;
  padding: 3px 0px;
}

.box-list-badge {
  @extend .row;
  @extend .rounded;
  margin: 0 0 -1px 0;
  padding-left: 0px;
  padding-right: 0px;
  
  > * {
    padding-top: 3px;
    padding-bottom: 3px;
    min-height: 22px;
  }
  
  > .more {
    @extend .rounded;
    flex-basis: 10%;
    text-align: center;
  }
}

.folder-badge {
  @extend .box-list-badge;
  
  > .icon {
    flex-basis: 10%;
    text-align: center;
  }
  
  > .label {
    flex-basis: 80%;
  }
  
  > .more:hover {
    background-color: #535C66;
  }
}

.add-folder-badge {
  @extend .folder-badge;
  
  &:hover {
    @extend .alert-success;
  }
}

.set-badge {
  @extend .box-list-badge;
  
  &:hover {
    @extend .alert-secondary;
  }
  
  > .spacer {
    flex-basis: 15%;
  }
  
  > .label {
    flex-basis: 75%;
  }
  
  > .more:hover {
    background-color: #d6d8d9;
  }
}

.add-set-badge {
  @extend .set-badge;
  
  &:hover {
    @extend .alert-success;
  }
}

////////////////////////////////////////////////////////////////////////////////
// CARD LIST
////////////////////////////////////////////////////////////////////////////////

#flashcard-list{
  .row {
    margin: 0 0 -1px 0;
    height: 30px;
    
    &:first-child {
      border-top-left-radius: .25rem!important;
      border-top-right-radius: .25rem!important;
    }
    
    &:last-child {
      border-bottom-left-radius: .25rem!important;
      border-bottom-right-radius: .25rem!important;
    }
    
    > * {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    
    .list-number {
      flex-basis: 12%;
      padding-left: 10px;
      padding-right: 5px;
    }
    
    .front_short,
    .back_short {
      flex-basis: 38%;
      padding-left: 5px;
      padding-right: 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    
    .delete-card-button {
      flex-basis: 12%;
      cursor: pointer;
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// CARD DETAIL
////////////////////////////////////////////////////////////////////////////////

#flashcard-detail {
  .sticky {
    top: 65px;
    position: sticky;
  }

  textarea {
    resize: none;
    display: block;
    width: 100%;
    height: 220px;
    // margin-bottom: 10px;
  }
  
  .checkboxes label {
    padding-right: 40px;
  }
  #history-front, #history-back {
    @extend .row;
    margin: 5px;
    height: 8px;
    
    div {
      width: 8px;
      height: 8px;
      margin-right: 2px;
    }
    
    .right {
      background-color: green;
    }
    .wrong {
      background-color: red;
    }
  }
}
